.TabMenus {
  --b-line-color: #ccc;
  --bg-color-light: #eff;
  --bg-color-sky: #ace;
  .container {
    border: 1px solid var(--b-line-color);
  }
  .tabList {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--b-line-color);
  }
  .tab {
    flex: 0 0 25%;
    box-sizing: border-box;
    padding: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    & + .tab {
      border-left: 1px solid #ccc;
    }
    &.current {
      background-color: #bde;
    }
  }

  .description {
    padding: 1rem;
  }

  .tabMenu2 .description {
    display: none;
    &.current {
      display: block;
    }
  }

  .tabMenu3 {
    position: relative;
    .item {
      list-style: none;
      padding: 0;
      margin: 0;

      &:nth-child(1) .tab {
        left: 0;
        border-left-width: 0;
      }
      &:nth-child(2) .tab {
        left: 25%;
      }
      &:nth-child(3) .tab {
        left: 50%;
      }
      &:nth-child(4) .tab {
        left: 75%;
      }
    }
    .tab {
      position: absolute;
      top: 0;
      width: 25%;
      box-sizing: border-box;
      padding: 1rem;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
      border-bottom: 1px solid #ccc;
      border-left: 1px solid #ccc;
    }
    .description {
      display: none;
      padding-top: 4rem;
    }
    .item.current {
      .tab {
        background-color: #bde;
      }
      .description {
        display: block;
      }
    }
  }
  .tabMenu5 {
    position: relative;
    padding: 0;
    margin: 0;

    .item {
      list-style: none;
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) .tab {
          left: 25% * ($i - 1);
          border-left: if($i == 1, none, 1px solid #ccc);
        }
      }

      .input {
        display: none;

        &:checked {
          + .tab {
            background-color: #bde;
          }

          ~ .description {
            display: block;
          }
        }
      }

      .tab {
        position: absolute;
        top: 0;
        width: 25%;
        box-sizing: border-box;
        padding: 15px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        border-bottom: 1px solid #ccc;
      }

      .description {
        display: none;
        padding-top: 65px;
      }
    }
  }

  .tabMenu6 {
    .description {
      background-color: white;
      width: 0;
      height: 0;
      padding: 0;

      &.current {
        padding: 15px;
        width: auto;
        height: auto;
      }
    }
  }
}
