@font-face {
  font-family: 'NanumGothic';
  font-weight: 200;
  font-style: normal;
  src: url('/fonts/NanumGothicLight.ttf') format('ttf');
}
@font-face {
  font-family: 'NanumGothic';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/NanumGothic.ttf') format('ttf');
}
@font-face {
  font-family: 'NanumGothic';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/NanumGothicBold.ttf') format('ttf');
}
@font-face {
  font-family: 'NanumGothic';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/NanumGothicExtraBold.ttf') format('ttf');
}

html,
body {
  font-family: NanumGothic, sans-serif, monospace;
  height: 100%;
  margin: 0;
}

body {
  overflow-y: scroll;
  padding-left: 200px;

  &.no-scroll {
    overflow: hidden;
  }
}

aside {
  //색조합 : https://colorpalettes.net/color-palette-4569/
  --bg-default: #ddbeaa;
  --bg-list: #bbc6c8;
  --bg-list-disabled: #e5e3e4;
  --bg-list-active: #469597;
  --bg-list-open: #5ba199;

  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 199px;
  border-right: 1px solid var(--bg-default);
  background-color: var(--bg-default);
  color: #fff;

  a {
    color: inherit;
    text-decoration: none;
  }
  button {
    display: block;
    width: 100%;
    border: 0;
    background-color: inherit;
    color: inherit;
    font-size: inherit;
    margin: 0;
    text-align: left;
    padding: 10px 20px;
    cursor: pointer;
  }

  h1 {
    margin: 0;
    padding: 20px;
    overflow: hidden;

    sub {
      float: right;
      opacity: 0.7;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--bg-list);
  }
  li {
    border-top: 1px solid var(--bg-default);
    transition: background-color ease 0.3s;

    &.active {
      background-color: var(--bg-list-active);
      font-weight: 700;
    }
    &.open {
      background-color: var(--bg-list-open);
      font-weight: 700;
    }
    a {
      display: block;
      padding: 10px 20px 10px 25px;
    }
    &.disabled {
      display: block;
      padding: 10px 20px 10px 25px;
      color: #666;
      background-color: var(--bg-list-disabled);
      cursor: not-allowed;
    }
  }
  .subRoutes {
    height: 0;
    overflow: hidden;
    opacity: 0;
    background-color: var(--bg-list-open);
    transition-property: height, opacity;
    transition-timing-function: ease;
    transition-duration: 0.3s;
    a {
      padding-left: 33px;
      &::before {
        content: '';
        display: inline-block;
        border: 2px solid #fff;
        border-radius: 2px;
        margin-right: 8px;
        vertical-align: middle;
      }
    }
  }
  li.parent > a::before {
    content: '';
    display: inline-block;
    vertical-align: 2px;
    border: 4px solid transparent;
    border-left-color: #fff;
    margin-right: 4px;
    margin-left: -12px;
  }
  li.open {
    .subRoutes {
      opacity: 1;
    }
    @for $i from 1 to 10 {
      &.items-#{$i} .subRoutes {
        height: calc(#{$i} * 40px);
      }
    }
    &.parent > a::before {
      border-top-color: #fff;
      border-left-color: transparent;
      vertical-align: 0px;
      margin-right: 6px;
      margin-left: -14px;
    }
  }
}

main {
  box-sizing: border-box;
  min-height: 100%;
  padding: 20px;

  h3 > sub:before {
    content: '|';
    margin: 0 5px 0 10px;
    color: #999;
  }
}

.markdown {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.67;

  ul,
  ol {
    margin: 0.5rem 0;
    padding-left: 20px;
  }
  li {
    margin: 0.2rem 0;
  }
  code {
    background-color: #eee;
    padding: 3px;
    border-radius: 3px;
    white-space: pre;
  }

  pre {
    padding: 1rem;
    margin: 0;
    background-color: #eee;
    border-radius: 5px;
    code {
      background: none;
      padding: 0;
      border-radius: 0;
    }
  }
}
