.Tooltips {
  --b-line-color: #ccc;
  --bg-color-light: #eff;
  --bg-color-sky: #ace;
  .container {
    display: inline-block;
    position: relative;
    margin-right: 10px;
  }
  .trigger {
    font-size: 1rem;
    line-height: 1.3rem;
    display: inline-block;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin: 0;
    padding: 0;
    text-align: initial;
    &::after {
      display: inline-block;
      content: '!';
      text-align: center;
      border: 1px solid var(--b-line-color);
      width: 1rem;
      height: 1rem;
      font-size: 0.8rem;
      line-height: 1rem;
      vertical-align: text-bottom;
      border-radius: 50%;
      margin-left: 5px;
    }
  }
  .tooltip {
    position: absolute;
    display: block;
    top: 1.4rem;
    left: 2rem;
    min-width: 40vw;
    padding: 1rem;
    border: 1px solid var(--b-line-color);
    background-color: var(--bg-color-light);
    z-index: 2;
  }

  .details {
    position: relative;
    margin-right: 1rem;
    display: inline-block;
    border: 0;
    outline: 0;
    background-color: transparent;
    margin-left: 10px;
  }

  .summary {
    &::marker {
      content: '';
      display: none;
    }
    &::after {
      display: inline-block;
      content: '!';
      text-align: center;
      border: 1px solid var(--b-line-color);
      width: 1rem;
      height: 1rem;
      font-size: 0.8rem;
      line-height: 1rem;
      vertical-align: text-bottom;
      border-radius: 50%;
      margin-left: 0.5rem;
    }
  }
}
